include NewOrderHeader.html
include ../CommonMenu.html
include NewOrder.html
include modals.html
include smartWizardValidation.html
include myCtrl.html
include CommonAngularCtrl.html
include pageEnd.html
