<!DOCTYPE html>
<html lang="en" >

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Deliciaso | </title>

  <!-- Bootstrap core CSS -->

  <link href="css/bootstrap.min.css" rel="stylesheet">

  <link href="fonts/css/font-awesome.min.css" rel="stylesheet">
  <link href="css/animate.min.css" rel="stylesheet">

  <!-- Custom styling plus plugins -->
  <link rel="stylesheet" href="angular/angular-material.css">
  <link href="css/custom.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/maps/jquery-jvectormap-2.0.3.css" />
  <link href="css/icheck/flat/green.css" rel="stylesheet" />
  <link href="css/floatexamples.css" rel="stylesheet" type="text/css" />
    <link href="AngularDateTime/angular-material-datetimepicker/css/material-datetimepicker.css" rel="stylesheet" type="text/css" />

  <link rel="stylesheet" type="text/css" href="angular-ui-grid/ui-grid.min.css"/>
  <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css"/>
  <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css"/>



<script src="js/jquery.min.js"></script>
<script src="angular/angular.min.js"></script>
<script src="angular/angular-animate.js"></script>
<script src="angular/angular-aria.js"></script>
<script src="angular/angular-material.js"></script>


<script src="angular-ui-grid/ui-grid.min.js"></script>
 <!-- <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-touch.js"></script> -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-touch/1.5.8/angular-touch.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
<script src="js/jquery.timepicker.min.js"></script>
<script src="AngularDateTime/momentjs/moment.js"></script>
<script src="AngularDateTime/angular-material-datetimepicker/js/angular-material-datetimepicker.js"></script>
<script src="moment-timezone/builds/moment-timezone-with-data.js"></script>

<script>
  $( function() {
    $( ".datepicker" ).datepicker({
       dateFormat: "yy-mm-dd"
     });
  } );
  </script>
<script>
// angular.element(document).ready(function() {
//
//    $('.time3').bootstrapMaterialDatePicker({ date: false, format: 'HH:mm', animation: true });
//          });
// $( function() {
//   jQuery.noConflict();
//
//    $('.time3').bootstrapMaterialDatePicker({ date: false, format: 'HH:mm', animation: true });
// } );
</script>



  <!-- <script src="js/nprogress.js"></script>
  <script src="js/validator/validator.js"></script> -->
<style>
.grid {
  width: 1000px;
  height: 250px;
}
.error
{
  color:red;
}
.ui-autocomplete
    {
        position:absolute !important;
        cursor:default !important;
        z-index:4000 !important
    }
</style>
<!-- <script>
$( document ).ready(function() {
  console.log("came here");
  var availableTags = [
    "ActionScript",
    "AppleScript",
    "Asp",
    "BASIC",
    "C",
    "C++",
    "Clojure",
    "COBOL",
    "ColdFusion",
    "Erlang",
    "Fortran",
    "Groovy",
    "Haskell",
    "Java",
    "JavaScript",
    "Lisp",
    "Perl",
    "PHP",
    "Python",
    "Ruby",
    "Scala",
    "Scheme"
  ];
  $( "#tags" ).autocomplete({
    source: availableTags
  });
});
</script> -->


</head>
